* {
  margin: 0;
  padding: 0;
}

.upload {
  width: 400px;
  height: 260px;
  margin: 20px;
  border: 2px dashed #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s;
  user-select: none;
  &.focus,
  &:hover {
    border-color: #1890ff;
  }
  p {
    font-size: 14px;
    color: #999;
  }
  #input {
    display: none;
  }
}
#url {
  display: inline-block;
  width: 300px;
}
